@media (max-width: 991.98px) {
  /* =============== Root =============== */

  :root {
    --primary_background_color: #1c1e53;
    --secoundary_background_color: #f4f6fc;
    --white: #ffffff;
    --Primery_Font_Color: #282938;
    --Yellow_Color: #fcd980;
    --Poppins: "Poppins", sans-serif;
  }

  body {
    font-family: var(--Poppins);
  }

  /* =============== Root =============== */

  /* =============== NavBar =============== */

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .customNavItem__title {
    font-size: 14px;
    font-family: 400;
  }

  .customNavButton__title {
    padding: 12px 32px;
    border: 1px solid #474975;
    font-size: 14px;
    font-weight: 400;
  }

  /* =============== NavBar =============== */

  /* =============== Pricing Part CSS =============== */

  #PricingPart {
    padding: 72px 0 0 0;
   
  }

  .customPricing__title {
    font-size: 36px;
    font-weight: 500;
   
  }

  /* =============== Pricing Part CSS =============== */

  
}
