@media (max-width: 1199.98px) {
  /* =============== Root =============== */

  :root {
    --primary_background_color: #1c1e53;
    --secoundary_background_color: #f4f6fc;
    --white: #ffffff;
    --Primery_Font_Color: #282938;
    --Yellow_Color: #fcd980;
    --Poppins: "Poppins", sans-serif;
  }

  body {
    font-family: var(--Poppins);
  }

  /* =============== Root =============== */

  /* =============== NavBar =============== */

  .customNavItem {
    padding-right: 24px;
  }

  .customNavItem__title {
    font-size: 14px;
  }

  .customNavButton__title {
    font-size: 14px;
  }

  /* =============== NavBar =============== */

  /* =============== Hero =============== */

  #heroPart {
    padding: 88px 0px;
  }

  .customhero__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
  }

  .customhero__summery {
    padding: 16px 0 32px 0;
    font-size: 14px;
    line-height: 20px;
  }

  .customheroButtom__button {
    padding: 14px 48px;
  
    font-size: 14px;
 
  }

  /* =============== Hero =============== */

  /* =============== Client =============== */

  #clientLogoPart{
    padding: 80px 0;
  }

  .benefitsPart__client {
    font-size: 32px;
    font-weight: 500;
 
  }

  /* =============== Client =============== */


  /* =============== Benefit =============== */

  .benefitsPartTop {
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 36px;
  }

  .benefitsPart__card {
    padding: 36px 26px ;

  }

  .benefitsPart__title {
    font-size: 20px;
   
  }

  .benefitsPart__summery {
    font-style: 14px;
 
  }

  /* =============== Benefit =============== */

  /* =============== Client Details =============== */

  .detailspartLeft{
    padding: 80px 0 0 0;
  }

  .detailsPart__head{
    font-size: 14px;
    font-weight: 500;
   
  
  }

  .detailsPart__title{
    font-size: 32px;
    font-weight: 500;  
    line-height: 40px;
  }

  .detailsPart__summery{
    font-size: 14px;
     
  }

  /* =============== Client Details =============== */

  /* =============== Footer Part =============== */

  #footerPart {
    padding: 96px 0px 0px;
  }

  .customerfootercontact__summery {
    font-size: 14px;
    line-height: 16px;
    padding: 20px 0px 40px 0;
  }

  .customfooterleftContact {
    padding: 12px 28px;
    background-color: var(--Yellow_Color);
  }

  .customfooterleftContact__title {
    font-size: 14px;
    margin-bottom: 4x;
  }

  .customfooterleftContact__address {
    font-size: 14px;
    font-weight: 400;
  }

  .customfooterright__title {
    font-size: 36px;
    font-weight: 500;
  }

  .customfooterright__summery {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  /* =============== Footer Part =============== */
}
