@media (max-width: 991.98px) {
  /* =============== Root =============== */

  :root {
    --primary_background_color: #1c1e53;
    --secoundary_background_color: #f4f6fc;
    --white: #ffffff;
    --Primery_Font_Color: #282938;
    --Yellow_Color: #fcd980;
    --Poppins: "Poppins", sans-serif;
  }

  body {
    font-family: var(--Poppins);
  }

  /* =============== Root =============== */

  /* =============== NavBar =============== */

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .customNavItem__title {
    font-size: 14px;
    font-family: 400;
  }

  .customNavButton__title {
    padding: 12px 32px;
    border: 1px solid #474975;
    font-size: 14px;
    font-weight: 400;
  }

  /* =============== NavBar =============== */


  /* =============== Read Case Study CSS =============== */

  #casePart {
    padding: 72px 0 0 0;
  }

  .casePart__head {
    font-size: 20px;
   
  }

  .casePart__title {
    font-size: 40px;
    font-weight: 500;
  
  }

  .casePart__summery {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 40px;
  }

  .casecustomNavbae{
    padding: 40px 0 60px;
  }
  
  

  /* =============== Read Case Study CSS =============== */


  /* =============== Footer CSS =============== */

  #footerPart {
    padding: 80px 0px 0px 0px;
 
  }

  .customerfootercontact__summery {
    font-size: 14px;

  }

  .customfooterleftContact__title {
    font-size: 14px;
 
  }

  .customfooterleftContact__address {
    font-size: 14px;
    font-weight: 400;
    color: var(--Primery_Font_Color);
    opacity: 0.8;
  }
  
  .customfooterright__title {
    font-size: 36px;
 
  }

  .customfooterright__summery {
    font-size: 14px;
    font-weight: 500;
    color: var(--white);
    line-height: 28px;
    opacity: 0.8;
    padding: 14px 0px 28px 0px;
  }

  /* =============== Footer CSS =============== */

  
}
